html body{
    margin:0;
    height:100%;
    padding: 0;
    background-color: #9d9d9d;
}
.container{
    width:800px;
    height:400px;
    margin:100px auto;
    background-color: #1b6d85;
    box-shadow: 0 1px 3px rgba(0,0,0,22);
}
.tab-wrapper{
    position: relative;
    width:800px;
    height:60px;
    background-color: #2aabd2;
}
.tab-wrapper .tab-raido{
    display: none;
}
.tab-handler{
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    height:60px;
    padding:0 40px;
    color: #717181;
    line-height: 60px;
    transition: .3s;
    transform: scale(.8);
}

.tab-raido:checked + .tab-handler{
    color: #ffffff;
    background-color: #3e8f3e;
    transform: scale(.9);
}
.tab-raido:checked + .tab-handler+ .tab-content{
    visibility: visible;
    opacity: 1;
}
.tab-wrapper .tab-content{
    visibility: hidden;
    display: block;
    position: absolute;
    top:60px;
    left:0;
    width:740px;
    padding:30px;
    color: #999;
    opacity: 0;

}